<header id="global-header">
  <p>
    <a href="/"
      ><img
        src="/hows-pot-doing.png"
        width="100"
        height="100"
        alt="How's Pot Doing?"
      />
      <span>How's Pot Doing?</span></a
    >
  </p>
</header>
