---
export interface Props {
  title?: string;
  location?: string;
}
const { title, location } = Astro.props;
const siteTitle = 'How\'s Pot Doing';
let titleText = siteTitle;
if (title) {
  titleText = title.replace('?', '');
}
---

<span class="logo-title">
  <span class="title logo-stroke">
    {location ? (
        <span class="text-style">How&apos;s Pot Doing in <span class="loc text-style">{location}<span class="qm">?</span></span></span>
    ) : (
      <span class="page text-style">{titleText}<span class="qm">?</span></span>
    )}
  </span>
</span>

<style>
.text-style {
  font-family: 'Scripto', cursive;
  color: var(--the-yellow);
  font-size: var(--logo-title-size);
  font-weight: 500;
}
.logo-title {
  margin: 0 0 24px 0;
  text-align: center;
  opacity: 0.9;
  .span {
    font-family: 'Scripto', cursive;
  }
  .loc {
    white-space: nowrap;
  }
}
  .qm {
    display: inline-block;
    width: var(--logo-size);
    height: var(--logo-size);
    background-image: url('/hows-pot-doing.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.2em;
    color: transparent;
    vertical-align: middle;
    text-indent: 999em;
    margin: -.6rem 0 0 1px;
  }
</style>
