---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { Layout } from "@globals"

export async function getStaticPaths() {
	const posts = await getCollection('locations');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'locations'>;

const post = Astro.props;
const { Content } = await post.render();
const title = `How's Pot Doing in ${post.data.location}?`;
---

<Layout title={title}>
	<div  class="meow">
		<Content />
	</div>
</Layout>

<style>
</style>
